*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {}

.container {
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

/*//////////HEADER///////////*/

body > header {
	background-color: #1B5589;
}

header .col-md-11 {
	margin: 17px 0;
}

header .logo {
	display: inline-block;
	height: 32px;
	/*margin: 15px 20px 15px 0;*/
}

header ul {
	display: inline-block;
	margin-left: 20px;
}

header ul li {
	display: inline-block;
	list-style-type: none;
	margin-right: 15px;
}

header li > a {
	color: #7CA0BD;
}

header li > a.active {
	color: #fff;
}

header li > a:hover {
	color: #fff;
	text-decoration: none;
}

header .user {
	height: 48px;
	margin: 10px 0;
}

/*//////////MAIN///////////*/

main h1, main h2 {
	font-family: "SegoeWPLight", sans-serif;
	color: #555;
	/*font-weight: 300;*/
	text-align: center;
    padding-bottom: 20px;
    margin-bottom: 0;
}

main h1 {
	/*border-bottom: 1px solid #F9F9F9;*/
}

main hr {
	margin-top: 0;
	border-bottom: 1px solid #F9F9F9;
}

.col-md-6:nth-child(1) {
	padding-left: 0;
}

.col-md-6:nth-child(2) {
	padding-right: 0;
}

main .wrap {
	border: 1px solid #E9E9E9;
	border-radius: 4px;
}

article {
	border-bottom: 1px solid #E9E9E9;
	width: 100%;
	padding: 15px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

article img {
	margin-right: 20px;
}

article header {
	display: inline-block;
}

article header h1 {
	font-family: "RobotoRegular", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 15px;
}

article span {
	float: right;
	font-size: 14px;
	color: #999;
}

main .wrap article p {
	font-size: 16px;
    word-spacing: 2px;
}

main button {
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 4px;
}

/*main button.more_news {	
	color: #fff;
	background-color: #6C757D;
}*/

main .grid_container {
	display: grid;
	grid-template-columns: 5fr 2fr 5fr;
	grid-auto-rows: 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 3px;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.left_arrow, .right_arrow {
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 5px 10px;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
}

.grid_container .left_arrow {
	text-align: right;
	justify-self: end;

}

main .grid_container .date {
	padding: 6px 10px;
	font-size: 14px;
	letter-spacing: -0.5px;
	font-weight: 300;
}

.reward span {
	font-size: 18px;
	font-weight: bold;
}

/*main button.more_rewards {
	color: #000;
	background-color: #F8F9FA;
}
*/


/*//////////Page Homework///////////*/

main {
	position: relative;
}

main .legend {
	margin-top: 20px;
	text-align: right;
	position: absolute;
	right: 10px;
	top: 0;
}

main .legend label {
	color: #777;
}

main .legend > div {
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #E4E4E4;
	border-radius: 50%;
	vertical-align: middle;
}

.current {
/*main .legend .current {*/
	background-color: #F5F5F5;
}

.reviewed {
/*main .legend .reviewed {	*/
	background-color: #6FD084;
	color: #fff;
}

.under_review {
/*main .legend .under_review {*/
	background-color: #37B0C1;
	color: #fff;
}

.overdue {
/*main .legend .overdue {*/
	background-color: #F98691;
	color: #fff;
}

main section {
	width: 100%;
	margin: 35px 0 50px;
}

main section h2 {
	margin: 0 10px;
	text-align: left;
	border-bottom: 1px solid #F9F9F9;	
}

main section .row {
	margin-top: 15px;
}

.col-md-4 {
	padding: 0 10px;
}

main section article {
	display: block;
	border: 1px solid #DDE1E5;
	border-radius: 4px;
	padding: 20px;
	/*margin-right: 30px;*/
	border-radius: 4px;
	margin-bottom: 10px;
}

main section article header h1{
	display: block;
	padding-bottom: 0;
	margin-bottom: 10px;
}



main section .reviewed .appraisal {
	/*float: none;*/
	background-color: #28A745;
	width: 30px;
	border-radius: 10px;
	display: block;
	position: absolute;
	top: 15px;
	right: 25px;
	text-align: center;

}

main section article header p {
	display: block;
}

main section article form input,
main section article form label {
	padding: 10px;
}

main section article form input {
	width: 75%;
	border: 1px solid #DDE1E5;
	border-radius: 3px 0 0 3px
}

main section article form label {
	width: 25%;
	margin-bottom: 0;
	border: 1px solid #DDE1E5;
	border-radius: 0 3px 3px 0;
	background-color: #E9ECEF;
	text-align: center;
	color: #000;
}

.reviewed header > h1, 
.under_review header > h1, 
.overdue header > h1 {
/*.reviewed p, .under_review p, .overdue p, {*/
	color: #fff;
}

main section article form button {
	width: 50%;
	margin-top: 0;
	border: 1px solid #DDE1E5;
	background: none;
	color: #fff;
}

main section article form button.download {
	border-radius: 3px 0 0 3px;
}

main section article form button.remove {
	border-radius: 0 3px 3px 0;
}

main section article form button img {
	width: 16px;
}



/*//////////Page Homework///////////*/

div[name="header_settings"] {	
	width: 100%;
	background-color: #CCE5FF;
	border-radius: 4px;
}

div[name="header_settings"] h2 {
	/*text-align: center;*/
	/*width: 39%;*/
	padding: 15px 0;
	font-size: 16px;
	font-weight: 700;
	color: #0354A9;
	text-transform: uppercase;
}

main form {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 25px;
}

main form[name="avatar"] img {
	/*display: block;*/
	width: 100%;
	/*height: 256px;*/
}

main form[name="avatar"] input[type="file"] {
	display: none;
}

main form[name="avatar"] input[type="file"] + label {
	width: 100%;
	border: none;
	border-radius: 4px !important;
	/*text-align: center;*/
}

main .col-md-5 input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 5px;
	margin-bottom: 15px;
	border: 1px solid #eee;
	border-radius: 4px;
}

main .col-md-5 button {
	margin-top: 0px;
}